server {
  listen 80;
  server_name {{ piwik_nginx_server_name }};
  server_tokens off;

  access_log /var/log/nginx/piwik_access_log;
  error_log /var/log/nginx/piwik_error.log;

  location / {
    return         301 https://$server_name$request_uri;
  }
  
  client_max_body_size 10M;
  keepalive_timeout 10;
}

server {
  listen 443;
  server_name {{ piwik_nginx_server_name }};
  server_tokens off;

  access_log /var/log/nginx/piwik_ssl_access_log;
  error_log /var/log/nginx/piwik_ssl_error.log;

  ssl on;
  ssl_certificate  {{piwik_cert}};
  ssl_certificate_key  {{piwik_key}};

  include /etc/nginx/ssl_params;

  location / {
    proxy_pass         http://127.0.0.1:50000/;
    auth_basic "Restricted";
    auth_basic_user_file htpasswd;
  }

  location ~ piwik\.(php|js) {
    proxy_pass http://127.0.0.1:50000;
    auth_basic "off";
  }

  client_max_body_size 4M;
  keepalive_timeout 10;
}
